<div>
  <table tr-ng-grid="" items="list.all.$asArray();">
    <thead>
    <tr>
      <th field-name="name" display-name="{{ 'NAME' | translateField }}"></th>
      <th field-name="address" display-name="{{ 'ADDRESS' | translateField }}"></th>
      <th field-name="phone" display-name="{{ 'PHONE' | translateField }}" display-format="phone:gridItem.phone"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="center">
        <button ng-click="edit(gridItem)" class="btn btn-primary glyphicon glyphicon-edit"></button>
      </td>
      <td class="center">
        <button ng-click="remove(gridItem)" class="btn btn-primary glyphicon glyphicon-remove"></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
