<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Angular App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/dialogs/dist/dialogs.min.css" />
    <link rel="stylesheet" href="bower_components/trNgGrid/release/trNgGrid.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="contactListApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">
        <h3 class="text-muted" ng-controller="MainCtrl">{{ 'MAIN_APPLICATION' | translateField }}</h3>
      </div>

      <div ng-view=""></div>

      <div class="footer">
        <p class="pull-right">Henrique Mello Cholodovskis Filho</p>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/dialogs/dist/dialogs.min.js"></script>
    <script src="bower_components/dialogs/dist/dialogs-default-translations.min.js"></script>
    <script src="bower_components/trNgGrid/release/trNgGrid.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/contacts.js"></script>
        <script src="scripts/filters/translatefield.js"></script>
        <script src="scripts/controllers/contacts.js"></script>
        <script src="scripts/services/constants/firebase_url.js"></script>
        <script src="scripts/services/constants/language.js"></script>
        <script src="scripts/directives/list-table.js"></script>
        <script src="scripts/filters/translate.js"></script>
        <script src="scripts/filters/phone.js"></script>
        <!-- endbuild -->
</body>
</html>
