<div class="panel panel-info">
  <div class="panel-heading">{{ 'CONTACT' | translateField }}</div>
  <div class="panel-body">
    <form name="form" ng-submit="(form.$valid) ? save(contact) : ''" novalidate>
      <div class="form-group">
        <label for="nameID">{{ 'NAME' | translateField }}</label>
        <input class="form-control" type="text" ng-model="contact.name" ng-model-options="{ updateOn: 'blur' }" required name="name"  id="nameID" placeholder="{{ 'NAME' | translateField }}"/>
        <div ng-show="form.$submitted || form.name.$touched">
          <div class="has-error" ng-show="form.name.$error.required"><p class="help-block">{{ 'VAL_REQUIRED_NAME' | translateField }}</p></div>
        </div>
      </div>
      <div class="form-group">
        <label for="addressID">{{ 'ADDRESS' | translateField }}</label>
        <input class="form-control" type="text" ng-model="contact.address" ng-model-options="{ updateOn: 'blur' }" required name="address" id="addressID" placeholder="{{ 'ADDRESS' | translateField }}"/>
        <div ng-show="form.$submitted || form.address.$touched">
          <div class="has-error" ng-show="form.address.$error.required"><p class="help-block">{{ 'VAL_REQUIRED_ADDRESS' | translateField }}</p></div>
        </div>
      </div>
      <div class="form-group">
        <label for="phoneID">{{ 'PHONE' | translateField }}</label>
        <input class="form-control" type="tel" ng-model="contact.phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model-options="{ updateOn: 'blur' }" required name="phone" id="phoneID" placeholder="{{ 'PHONE' | translateField }}"/>
        <div ng-show="form.$submitted || form.phone.$touched">
          <div class="has-error" ng-show="form.phone.$error.required"><p class="help-block">{{ 'VAL_REQUIRED_PHONE' | translateField }}</p></div>
        </div>
      </div>
      <button id="submitButton" type="submit" class="btn btn-primary margin-button pull-right">{{ 'SUBMIT' | translateField }}</button>
    </form>
  </div>
</div>
