<div class="panel panel-info">
  <div class="panel-heading">{{ 'CONTACT_LIST' | translateField }}</div>
  <div class="panel-body">
    <button id="addButton" class="btn btn-primary pull-right margin-button" ng-click="new()"><span class="glyphicon glyphicon-plus"></span> {{ 'ADD_NEW_CONTACT' | translateField }}</button>
    <list-table list="contacts"></list-table>
  </div>
</div>
